In [15]:
import pandas as pd
import datetime
import psycopg2
import pymysql
from pandas.core.frame import DataFrame
import numpy as np
import warnings
from WindPy import w
from sqlalchemy import create_engine

engine = create_engine('mysql+pymysql://cholian:123Q456w@43.132.196.216/Wind', echo=False)

w.start()
w.menu()
w.isconnected()
import datetime


# For adding the "numpy.float64" data type when inserting the data into double
pymysql.converters.encoders[np.float64] = pymysql.converters.escape_float
pymysql.converters.conversions = pymysql.converters.encoders.copy()
pymysql.converters.conversions.update(pymysql.converters.decoders)

# conn = pymysql.connect(db="Wind", user="admin", password="TFqt3qihVYei4qZz", 
#                        host="jacarandastock.com", port=3306)
conn = pymysql.connect(db="Wind", user="cholian", password="123Q456w", 
                       host="43.132.196.216", port=3306)

cursor = conn.cursor()

In [26]:
        sql = '''
        SELECT column_name FROM information_schema.columns
        WHERE table_name='stockdata';       
        '''
        cursor.execute(sql)
        column_names = [t[0].lower() for t in cursor.fetchall()]  # 列名

In [17]:
field = 'stmnote_RDexp'

In [28]:
field.lower() not in column_names

False

# 数据库检查

In [4]:
sql = 'select distinct * from stockdata'
all_data = pd.read_sql(sql, con = engine)
all_data = all_data[all_data.iloc[:,2:].any(axis = 1).values]

In [12]:
all_data.columns

Index(['stock_code', 'date', 'stmnote_RDexp', 'wgsd_rd_exp', 'cfps',
       'est_yoynetprofit', 'peg', 'cash_pay_acq_const_fiolta',
       'wgsd_dep_exp_of', 'noplat', 'fin_exp_is', 'gerl_admin_exp',
       'selling_dist_exp', 'roe', 'est_stdsales', 'pb', 'yoyprofit', 'pe',
       'tot_equity', 'goodwill', 'stmnote_audit_category', 'rd_exp',
       'r_and_d_costs', 'stmnote_rdexp_capital', 'yoy_equity', 'yoy_assets',
       'net_cash_flows_oper_act', 'net_profit_is', 'notes_rcv', 'acct_rcv',
       'grossprofitmargin', 'assetsturn1', 'roa', 'deductedprofit', 'ebitda',
       'est_stdnetprofit', 'oper_rev', 'debttoassets', 'r_d_costs'],
      dtype='object')

In [13]:
all_data.dropna(axis = 1, how='all').columns

Index(['stock_code', 'date', 'stmnote_RDexp', 'est_yoynetprofit', 'peg',
       'cash_pay_acq_const_fiolta', 'wgsd_dep_exp_of', 'noplat', 'fin_exp_is',
       'gerl_admin_exp', 'selling_dist_exp', 'roe', 'est_stdsales', 'pb',
       'yoyprofit', 'pe', 'tot_equity', 'goodwill', 'stmnote_audit_category',
       'rd_exp', 'r_and_d_costs', 'stmnote_rdexp_capital', 'yoy_equity',
       'yoy_assets', 'net_cash_flows_oper_act', 'net_profit_is', 'notes_rcv',
       'acct_rcv', 'grossprofitmargin', 'assetsturn1', 'roa', 'deductedprofit',
       'ebitda', 'est_stdnetprofit', 'oper_rev', 'debttoassets'],
      dtype='object')

In [15]:
import numpy as np
if np.nan: print(1)

1

In [17]:
np.nan

nan

In [13]:
w.wsd("000001.SZ,000002.SZ,000004.SZ,000005.SZ,000006.SZ,000007.SZ,000008.SZ,000009.SZ,000010.SZ,000011.SZ,000012.SZ,000014.SZ,000016.SZ,000017.SZ,000019.SZ","stmnote_audit_category","2022-04-20","2022-05-19","zoneType=1")

.ErrorCode=0
.Codes=[000001.SZ,000002.SZ,000004.SZ,000005.SZ,000006.SZ,000007.SZ,000008.SZ,000009.SZ,000010.SZ,000011.SZ,...]
.Fields=[STMNOTE_AUDIT_CATEGORY]
.Times=[20220420,20220421,20220422,20220425,20220426,20220427,20220428,20220429,20220505,20220506,...]
.Data=[[None,None,None,None,None,None,None,None,None,None,...],[None,None,None,None,None,None,None,None,None,None,...],[None,None,None,None,None,None,None,None,None,None,...],[None,None,None,None,None,None,None,None,None,None,...],[None,None,None,None,None,None,None,None,None,None,...],[None,None,None,None,None,None,None,None,None,None,...],[None,None,None,None,None,None,None,None,None,None,...],[None,None,None,None,None,None,None,None,None,None,...],[None,None,None,None,None,None,None,None,None,None,...],[None,None,None,None,None,None,None,None,None,None,...],...]

# 研发支出

In [4]:
w.menu()

In [3]:
df = pd.DataFrame({"Col1": [10, 20, 15, 30, 45],
                   "Col2": [13, 23, 18, 33, 48],
                   "Col3": [17, 27, 22, 37, 52]},
                  index=pd.date_range("2020-01-01", "2020-01-05"))

In [12]:
df

            Col1  Col2  Col3
2020-01-01    10    13    17
2020-01-02    20    23    27
2020-01-03    15    18    22
2020-01-04    30    33    37
2020-01-05    45    48    52

In [11]:
df.apply(lambda x : x > x[0], axis = 1)

             Col1  Col2  Col3
2020-01-01  False  True  True
2020-01-02  False  True  True
2020-01-03  False  True  True
2020-01-04  False  True  True
2020-01-05  False  True  True

In [4]:
# sql = f"SELECT stock_code from constituents where year(date) = '2022'" 
# cursor.execute(sql)
# SQLdata = cursor.fetchall() 
# stock_data = pd.read_sql(sql,conn)

# change the wind data api

In [50]:
stock_code =  stock_data[:5].values.reshape(1,-1)[0].tolist()
begin_date='2018-12-31'
end_date='2020-12-31'
field='est_stdnetprofit'
term="Y"
days="Alldays"
fill="Previous"

special_param = "unit=1;year=2022;Period=Y"

# wind_wsd = f"""w.wsd(codes={stock_code}, beginTime='{begin_date}', endTime='{end_date}', fields='{field}',
#                                     Period='{term}', Days='{days}', Fill='{fill}', PriceAdj="F", zoneType=1, rptType=1,
#                                     ruleType=2, gRateType=1, returnType=1, unit=1, usedf=True,"{special_param}")"""
# print(wind_wsd)
# eval(wind_wsd)

if field.startswith('est_'):
   pass 

# w.wsd(codes=stock_code, beginTime=begin_date, endTime=end_date, fields=field,
#                                                Period=term, Days=days, Fill=fill, PriceAdj="F", zoneType=1, rptType=1,
#                                                ruleType=2, gRateType=1, returnType=1, unit=1, usedf=True)
# now_time = "2022-12-31",确保一定是最新时间，当年最后一天
now_time = datetime.date(datetime.date.today().year, 12, 31).strftime("%Y-%m-%d")
# year = 2022, 为预测的年度
year = datetime.date.today().year
w.wsd(codes=stock_code, beginTime=begin_date, endTime=now_time, fields=field,
                                               Period=term, Days=days, Fill=fill, PriceAdj="F", zoneType=1, rptType=1,
                                               ruleType=2, gRateType=1, returnType=1, unit=1, usedf=True, year=year)

# SQL writes with pandas

In [28]:
# save data to mysql
# a = [{'stock_code': '002348.SZ', 'date': datetime.date(2018, 12, 31), 'field': 'oper_rev', 'value': 830248170.87}, {'stock_code': '002348.SZ', 'date': datetime.date(2019, 12, 31), 'field': 'oper_rev', 'value': 712431248.48}, {'stock_code': '002348.SZ', 'date': datetime.date(2020, 12, 31), 'field': 'oper_rev', 'value': 507658167.72}, {'stock_code': '002348.SZ', 'date': datetime.date(2021, 12, 31), 'field': 'oper_rev', 'value': 439686407.17}, {'stock_code': '000409.SZ', 'date': datetime.date(2018, 12, 31), 'field': 'oper_rev', 'value': 3065394827.15}, {'stock_code': '000409.SZ', 'date': datetime.date(2019, 12, 31), 'field': 'oper_rev', 'value': 2219034235.21}, {'stock_code': '000409.SZ', 'date': datetime.date(2020, 12, 31), 'field': 'oper_rev', 'value': 2163457678.16}, {'stock_code': '000409.SZ', 'date': datetime.date(2021, 12, 31), 'field': 'oper_rev', 'value': 508205584.59}, {'stock_code': '603630.SH', 'date': datetime.date(2018, 12, 31), 'field': 'oper_rev', 'value': 964139443.76}, {'stock_code': '603630.SH', 'date': datetime.date(2019, 12, 31), 'field': 'oper_rev', 'value': 964849667.93}, {'stock_code': '603630.SH', 'date': datetime.date(2020, 12, 31), 'field': 'oper_rev', 'value': 983826313.19}, {'stock_code': '603630.SH', 'date': datetime.date(2021, 12, 31), 'field': 'oper_rev', 'value': 1101002905.55}, {'stock_code': '002017.SZ', 'date': datetime.date(2018, 12, 31), 'field': 'oper_rev', 'value': 1152713285.67}, {'stock_code': '002017.SZ', 'date': datetime.date(2019, 12, 31), 'field': 'oper_rev', 'value': None}]
# df = pd.DataFrame(a)
# df.rename(columns={'value':df.field[0]}).drop('field',axis = 1)
# .to_sql('stock_data', con = engine,if_exists = 'append',index = False)


# sql = """select column_name 
#             from information_schema.columns 
#             where table_schema = Database() and table_name = 'stockdata';"""
# cursor.execute(sql)
# result = cursor.fetchall() 
# result

# result = pd.read_sql(sql, con=engine).values.reshape(1,-1)[0]
# result

In [132]:
sql = """select column_name 
            from information_schema.columns 
            where table_schema = Database() and table_name = 'stockdata';"""
result = pd.read_sql(sql, con=engine).values.reshape(1,-1)[0]
result

array(['stock_code', 'date'], dtype=object)

In [128]:
df = pd.DataFrame({'field': 'debttoassets'},index = [0])

In [137]:
    sql = f"""alter table 
            add {df.field[0]} double; """

In [142]:
sql = """select column_name 
            from information_schema.columns 
            where table_schema = Database() and table_name = 'stockdata';"""
result = pd.read_sql(sql, con=engine).values.reshape(1,-1)[0]

if df.field[0] in result:
    
    df.to_sql('stockdata', con = engine, if_exists = 'append',index = False)
    print(f'数据库更新成功')
    
else: 
    print('添加列到数据库')
    sql = f"""alter table stockdata add {df.field[0]} double; """
    cursor.execute(sql)

    df.to_sql('stockdata', con = engine, if_exists = 'append',index = False)
    print(f'数据库更新成功')

添加列到数据库

In [15]:
def save_new_col_to_sql(sql_df):
    
    # read all the data from the database
    sql = 'select * from stockdata'
    tmp_df = pd.read_sql(sql,con=engine)
    sql_df.date = pd.to_datetime(sql_df.date)
    tmp_df.date = pd.to_datetime(tmp_df.date)
    
    # merge the new columns to existing data (Mysql did not support add new columns directly)
    sql_df = sql_df.merge(tmp_df,on = ['stock_code','date'], how = 'outer')
    
    # save to mysql
    sql_df.to_sql('stockdata', con = engine, if_exists = 'replace',index = False)
sql_df = pd.read_csv('test.csv',index_col=0)
sql_df.to_sql('stock_tmp', con = engine)

# save_new_col_to_sql(sql_df)
sql_df = pd.read_csv('test.csv',index_col=0)
sql = 'select * from stockdata'
tmp_df = pd.read_sql(sql,con=engine)
sql_df.date = pd.to_datetime(sql_df.date)
tmp_df.date = pd.to_datetime(tmp_df.date)

sql_df = sql_df.merge(tmp_df,on = ['stock_code','date'], how = 'outer')
sql_df.to_sql('stockdata', con = engine, if_exists = 'replace',index = False)

def check_col_new(col):
    sql = f'select count(*) from stockdata where {col} is null;'
    new_col_count = pd.read_sql(sql,con=engine).values[0][0]
    
    sql = 'select count(*) from stockdata;'
    all_count = pd.read_sql(sql,con=engine).values[0][0]
    
    return True if new_col_count == all_count else False

check_col_new('oper_rev')
sql = 'drop table stockdata;'
cursor.execute(sql)
conn.commit()

# 特定条件

In [35]:
calculate_df = pd.read_csv('test.csv',index_col=0)
t = 'lambda x: x > calculate_df.iloc[:,-3] * 1.05, axis = 0'
calculate_df = eval(f'calculate_df.apply({t})')
f'calculate_df.apply({t})'
calculate_df.apply(lambda x: x > calculate_df.iloc[:,-3] * 1.05, axis = 0)
t = 'calculate_df.iloc[:,-1] > calculate_df.iloc[:,-3] * 1.05'
calculate_df['target_value'] = eval(t)

In [2]:
import pandas as pd
df = pd.read_csv('test.csv',index_col=0)
df = df.iloc[1:5,:]
~df.any().values
df[df.any().values]
df.iloc[:,2:]